.nav{
    height: 71px;
    background: #393E51 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.001em solid;
    border-bottom-color: whitesmoke;
}
img.dashboard_logo {
    margin-top: 19px;
    margin-left: 80px;
}
.UseProfile {
    width: 100vw;
    height: 100vh;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
ul.list-link {
    list-style: none;
}
li.list-link-child {
    display: inline;
    padding: 15px;
}
li.list-link-child a {
    font: normal normal normal 15px/25px Roboto;
    color: #FFFFFF;
    text-decoration: none;
}
li.list-link-child.xy a {
    font: normal normal normal 20px/34px Roboto;
    color: #F55B31;
    text-decoration: none;
    border-bottom: 3px solid  #F55B31;
    padding-bottom: 5px;
}
li.list-link-child.xy a:after {
   border-bottom: 3px solid  #F55B31;
}
.dash_links {
    margin-left: 20px;
    margin-top: 20px;
}

.topImageCase{
    width: 60px;
    display: inline;
    position: relative;
}
.fa-angle-down{
    color: white;
    float: right;
    margin-top: 27px;
    margin-left: 3px;
}

.dropDownBox{
    position: absolute;
    background-color: white;
    margin-left: 50px;
}
.dropDownBox ul {
    list-style: none;
    margin-bottom: 2px;
}
.dropDownBox ul li {
    padding: 2px;
    
}
.dropDownBox ul li a {
    font: normal normal normal 13px/18px Roboto;
    text-decoration: none;
    border-top: 1px solid lightgray;
    padding: 5px;
    padding-left: 5px;
    padding-right: 25px;
    color: #CA6144;
}
 
.image_icon {
    border: 1px solid #707070;
    margin-left: 5px;
    background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 16px;
}
.content {
    display: flex;
    justify-content: space-around;
    overflow-y: scroll;
    padding: 30px;
    padding-bottom: 50px;

}
h1._sidebar-title {
    font: normal normal bold 31px/41px Roboto;
    letter-spacing: 0px;
    color: #2C2C2C;
    padding-top: 13px;
}
p._sidebar-decription {
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #2C2C2C;
    padding-top: 0px;
    opacity: 0.5;
    line-height: 15px;
}
span._sidebar-span {
    font: normal normal normal 11px/20px Roboto;
    letter-spacing: 0px;
    color: #2C2C2C;
}
._sidebar {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 13px 25px #F2F2F273;
    border-radius: 10px;
    padding: 25px;
}
.profile-body {
    margin-top: 35px;
    width: 23%;
}

.profile-body .premium{
    width: 100%;
    background-color: #d4c16552;
    border-radius: 5px;
    padding: 20px;
}
.profile-body .premium p{ 
    font-size: 11px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.side-figure {
    display: flex;
    justify-content: space-evenly;
}
.checked {
    color: orange;
}
hr {
    margin-top: 13px;
    margin-bottom: 21px;
    border: 1px #d6b97e26 solid;
    width: 100%;
}
label.lable-title {
    font: normal normal normal 11px/14px Roboto;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 0.5;
    padding-bottom: 5px;
}
figure {
    font: normal normal bold 34px/40px Roboto;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
}
.side-rating {
    margin-top: 20px;
}
label.lable-rating {
    font: normal normal bold 15px/18px Roboto;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
    padding-left: 10px;
}
.star-rating {
    padding-left: 3px;
    padding-top: 5px;
}
span.fa.fa-star {
    margin: 0px 7px;
}
.side-follower {
    margin-left: 10px;
}
label.lable-ffl {
    font: normal normal bold 15px/18px Roboto;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
}
.side-bottom {
    margin-top: -5px;
}

.side-bottom .side-last{
    width: 100%;
    margin-bottom: 25px;
}

label.lable-revenue {
    font: normal normal bold 15px/18px Roboto;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
}
.middle-container {
    display: flex;
    margin-top: 26px;
    margin-left: 4px;
}
h2.middle-title {
    font: normal normal bold 30px/35px Roboto;
    letter-spacing: 0px;
    color: #393E51;
    opacity: 1;
    margin-left: 37px;
    margin-top: 20px;
}
.card-1 {
    width: 55%;
    background: #CA6144 0% 0% no-repeat padding-box;
    border-radius: 10px 10px 10px 10px;
    opacity: 1;
}
.container-12 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
    margin-top: 139px;
    display: flex;
    padding: 10px;
}
.mdd-shift {
    display: flex;
    justify-content: space-evenly;
    
}
.mmd-12{
    margin-left: -10px;
}
span.md-date {
    font: normal normal normal 13px/20px Roboto;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
    margin-left: 16px;
}

label.mmd-title {
    font: normal normal normal 9px/11px Roboto;
    letter-spacing: 0px;
    color: #CA6144;
    opacity: 1;
}
a.live {
    margin-left: 14px;
    padding: 7px;
    border: 1px solid #CA6144;
    border-radius: 10px;
    font: normal normal bold 17px/24px Roboto;
    letter-spacing: 0px;
    color: #CA6144;
    opacity: 1;
    text-decoration: none;
}
._dd-state {
    width: 60%;
}
._dd-link {
    width: 35%;
    margin-top: auto;
    margin-bottom: auto;
}
h5._ttle {
    top: 125px;
    position: relative;
    left: 25px;
    font: normal normal bold 22px/36px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.card-2 {
    width: 40%;
    height: 253px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 12px #00000029;
    border: 1px solid #CA6144;
    border-radius: 10px;
    opacity: 1;
    margin-left: 24px;
    padding: 40px;
}
h1.cc-title {
    font: normal normal bold 35px/42px Roboto;
    letter-spacing: 0px;
    color: #2C2C2C;
    text-align: center;
    margin-top: 32px;
}
p.pp-title {
    text-align: center;
    font: normal normal normal 14px/18px Roboto;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
    padding-top: 10px;
    padding-bottom: 25px
}
.vc-plus {
    margin-top: 67px;
}
span.plus {
    display: flex;
    justify-content: center;
}
i.fa.fa-plus-square {
    color: #ca6144;
    font-size: 58px;
}
img.future {
    width: 125px;
    height: 76px;
}
.container-md{
    padding: 5px;
}
h4.lower {
    font: normal normal bold 8px/9px Roboto;
    letter-spacing: 0px;
    color: #9FA3A7;
    opacity: 1;
    margin-top: 5px;
}
p.lower-p {
    font: 400 11px/18px Roboto;
    letter-spacing: 0px;
    color: #212121;
    opacity: 1;
    font-weight: 700;
    line-height: 15px;
}
button.lower-b {
    background: #CA6144 0% 0% no-repeat padding-box;
    border: 1px solid #CA6144;
    border-radius: 4px;
    opacity: 1;
    padding: 2px 7px;
    color: #fff;
    margin-bottom: 11px;
    font-size: 9px;
}
.future-event {
    margin-left: 9px;
    display: flex;
    margin-top: 25px;
}
.card-md {
    background: #F7F8F9 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    width: 140px;
}
.card-mds {
    margin-left: 30px;
     background: #F7F8F9 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    width: 140px;
}
.ftu-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
h1.ftu-ev {
    font: normal normal bold 18px/30px Roboto;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
    position: relative;
    left: 8px;
    top: 29px;
}
h2.ftu-mn {
    font: normal normal normal 15px/18px Roboto;
    letter-spacing: 0px;
    color: #CA6144;
    opacity: 1;
    position: relative;
    top: 34px;
}
h2.left-title {
    font: normal normal bold 30px/35px Roboto;
    letter-spacing: 0px;
    color: #393E51;
    opacity: 1;
    margin-top: 20px;
}
.left-card-1 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 13px;
    opacity: 1;
    margin-top: 26px;
    padding: 20px;
}
h5.lefy-title {
    font: normal normal bold 19px/30px Roboto;
    letter-spacing: 0px;
    color: #1E2022;
    opacity: 1;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 10px;
}
p.lefy-par {
    font: 400 13px/18px Roboto;
    letter-spacing: 0px;
    color: #77838F;
    opacity: 1;
    padding-bottom: 10px;
    padding-top: 10px;
}
a._pay_leftrow {
    font: 600 13px/24px Roboto;
    letter-spacing: 0px;
    color: #CA6144;
    opacity: 1;
    text-decoration: none;
    
}

.leftbar {
    width: 18%;
}

.middle-row{
    padding: 20px;
    width: 55%;
}

@media (max-width: 807px) {
    .dash_links {
        visibility: hidden;
    }
    .dash_links {
        visibility: hidden;
        width: 20%;
    }
    .nav button{
        margin-right: 20px;
        margin-left: 10px;
        margin-top: 20px;
    }
    .image_icon{
        margin-left: 0;
        margin-top: 16px;
    }
    img.dashboard_logo {
        margin-left: 40px;
    }
    
  }
  @media (max-width: 500px) {
    .dash_links {
        visibility: hidden;
        width: 20%;
    }
    .nav button{
        margin-right: 20px;
        margin-left: 10px;
        margin-top: 20px;
    }
    img.dashboard_logo {
        margin-left: 40px;
    }
    
  }
  @media (min-width: 700px) {
    .nav button{
        visibility: hidden;
        margin-right: 20px;
    }
    
    
  }

