.event-nav {
    display: flex;
    justify-content: space-between;
}

.E-img-wrapper {
    margin-left: 50px;
    margin-top: 27px;
}

.public-logo{
    width: 170px;
}

.e-sign {
    margin-right: 70px;
    margin-top: 27px;
}
i.fa.fa-bars {
    font-size: 24px;
    color: #ca6144;
}

@media (max-width: 807px) {
    .E-img-wrapper {
        margin-left: 30px;
    }
    .public-logo{
        width: 150px;
    }
    
}