
.managepage{
    width: 100vw;
    height: 100vh;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    opacity: 1;
    overflow-x: hidden;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


.eventtable{
  text-align: left;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-top: 1px solid #D9D9D9;
  flex-direction: row-reverse;
  width: 100%;
}

@media (max-width: 740px) {
    .eventtable{
        overflow-x: auto;
        width: calc(200vh - 100px);
      }
}

.eventtable th {
    
}
.eventtable td {
padding-top: 8px;
padding-bottom: 8px;
}

.eventtable tr {
    border-radius: 10px;
    background-color: #F8F8F8;
    height: 70px;
    color: #9F9F9F;
    margin: 2px
}
    .eventtable tr:nth-child(1) {background-color: white; border-radius: 0;height: 35px;}
    .eventtable tr:nth-child(1):hover {background-color: white; color: #9F9F9F;}
    

    .eventtable tr:hover {background-color:#CA6144; color: white;}
    .eventtable tr:hover td {color: white;}
    .eventtable tr th:nth-child(1) { padding-left: 10px; padding-right: 10px;}
    .eventtable tr td:nth-child(1) { padding-left: 10px; padding-right: 10px;}
    .eventtable tr td:nth-last-child(1) { padding-left: 10px; padding-right: 10px;}
    .eventtable th {
        padding-top: 12px;
        padding-bottom: 12px;
        letter-spacing: 0px;
        opacity: 1;
        font-weight: normal;
        font-size: 12px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .eventtable td {
    padding-top: 12px;
    padding-bottom: 12px;
    letter-spacing: 0px;
    color: #9F9F9F;
    opacity: 1;
    font-weight: normal;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .eventtable input:checked {
        background-color: tomato;
    }

    .checkwrapper {
        position: relative;
        padding-top: 10px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
  
  /* Hide the browser's default checkbox */
  .checkwrapper input {
    top: 3;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: white;
    border: 1px solid #D9D9D9;
  }
  
  /* On mouse-over, add a grey background color */
  .checkwrapper:hover input ~ .checkmark {
    background-color: white;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkwrapper input:checked ~ .checkmark {
    background-color: #CA6144;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkwrapper input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
.checkwrapper .checkmark:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
