.title-lg{
	font: Bold 37px/63px Roboto;
	letter-spacing: 0.21px;
	color: #2C2C2C;
	opacity: 1;
    white-space: nowrap;
}

.title-md{
    font: Bold 35px/41px Roboto;
    letter-spacing: 0.21px;
    color: #393E51;
    opacity: 1;
    white-space: nowrap;
    word-break: normal;
}
.title-sm{
    font: Bold 20px/25px Roboto;
    letter-spacing: 0.21px;
    color: #393E51;
    opacity: 1;
	white-space: nowrap;
}

@media (max-width: 807px) {
    .title-lg{
        font-size: 25px;
    }
    
    .title-md{
        font-size: 22px;
    }
    .title-sm{
        font-size: 18px;
    }
    
}