.liveeventpage{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(#393E51A2, #393E51A2), url(./live-img/bck-img.png) 0% 0% no-repeat padding-box;
    opacity: 1;
    overflow: hidden;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
._liveevent {
    display: flex;
    justify-content: center;
    margin-top: 54px;
}
button._empty {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    width: 130px;
    height: 60px;
    font: normal normal bold 24px/59px Roboto;
    letter-spacing: 0px;
    color: #CA6144;
    border: 1px solid white;
}
p._live-date {
    font: normal normal normal 12px/15px Roboto;
    letter-spacing: 0px;
    color: #F2F2F2;
    opacity: 1;
}
h3._live-header {
    font: normal normal bold 35px/42px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

button._live-btn {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    font: normal normal bold 24px/59px Roboto;
    letter-spacing: 0px;
    color: #CA6144;
     border: 1px solid white;
}
._live-title {
    margin-left: 25px;
    margin-right: 25px;
}
.liveevent-details {
    
}
._live-countdown {
    display: flex;
    margin-top: 70px;
    justify-content: center;
}

h1.xy02,h1.xy01, h1.xy03, h1.xy04 {
    text-align: center;
    font: normal normal bold 85px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    border-left: solid;
    border-left-color: white;
    margin-bottom: 0px;
    padding-left: 45px;
    padding-right: 45px;
}

p.xy_01,.xy_02,.xy_03,.xy_04 {
    font: normal normal normal 20px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    text-align: center;
    margin-top: 20px;
}
.live_link {
    display: flex;
    justify-content: center;
    margin-top: 93px;
}
.avs,.gli,.cha {
    margin: 0px 30px 0px 30px;
}
a.avs {
    margin: 0px 55px 0px 55px;
    background: #CA6144 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    font: normal normal bold 18px/25px Roboto;
    letter-spacing: 0.13px;
    color: #FFFFFF;
    padding: 10px 13px;
    border: 1px solid #ca6144;
    text-decoration: none;
}
a.gli {
    background: #9F9F9F 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    font: normal normal bold 18px/25px Roboto;
    letter-spacing: 0.13px;
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #9f9f9f;
    padding: 10px 36px;
}
a.cha{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    font: normal normal bold 18px/25px Roboto;
    letter-spacing: 0.13px;
    color: #19282F;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding-left: 18px;
    padding-top: 10px;
    padding-right: 0px;
}
span.top-num {
    position: relative;
    top: -20px;
    left: 12px;
    background: #F55B31 0% 0% no-repeat padding-box;
    padding: 1px 7px;
    border-radius: 36px;
    color: #fff;
}
p.dmw {
    float: revert;
    font: normal normal normal 12px/21px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-left: 67.2%;
    margin-top: 10px;
}
._waiting-box {
    width: 100%;
    height: 100%;
    position: relative;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
._waiting {
    display: flex;
}
.waiting-header {
    background-color: whitesmoke;
    padding: 10px;
}
h2.xxcy-12 {
    font: normal normal bold 24px/40px Roboto;
    letter-spacing: 0px;
    color: #19282F;
    margin-left: 23px;
    margin-top: 8px;
}
h3.xycy-12 {
    background: #9F9F9F 0% 0% no-repeat padding-box;
    font: normal normal bold 24px/40px Roboto;
    letter-spacing: 0px;
    color: #F2F2F2;
    padding: 5px 14px;
    /* margin-right: -40px; */
}
.chats {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    overflow: auto;
    padding-bottom: 80px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
._chts {
    display: flex;
    justify-content: space-between;
    
}
span.c-time {
    font: normal normal normal 10px/20px Roboto;
    letter-spacing: 0px;
    color: #000000;
    margin-left: 31px;
}
h2.event-host {
    font: normal normal bold 13px/20px Roboto;
    letter-spacing: 0px;
    color: #CA6144;
    float: right;
    margin-right: 26px;
    margin-top: -23px;
}

img.chatter {
    width: 37px;
    position: relative;
    top: 12px;
    margin-left: 5px;
}
img.chatters {
    width: 37px;
    position: relative;
    top: 12px;
    margin-left: 7px;
    margin-right: 7px;
}
h2.event-hosts {
    font: normal normal bold 13px/20px Roboto;
    letter-spacing: 0px;
    color: #19282F;
    margin-right: -1px;
    margin-top: -23px;
}
span.c-times {
    font: normal normal normal 10px/20px Roboto;
    letter-spacing: 0px;
    color: #000000;
    margin-right: 32px;
    float: right;
    margin-top: 18px;
}
p.chat-texts {
    font: normal normal normal 12px/20px Roboto;
    letter-spacing: 0px;
    color: #19282F;
    padding: 0px 41px 0px 40px;
    margin-left: 11px;
    margin-top: 0px;
}
._chtss {
    margin-top: 19px;
}
._chtsss {
    margin-top: 19px;
}
h2.event-hostx {
    font: normal normal bold 13px/20px Roboto;
    letter-spacing: 0px;
    color: #2D9BEF;
    margin-right: -1px;
    margin-top: -23px;
}

/* chat css */
.partiton{
    display: inline;
}
.content-host{
    width: 70%;
    float: left;
    margin-left: 40px;
}

img.chat-host {
    width: 30px;
    border-radius: 50%;
    float: right;
}

span.host-time {
    font: normal normal normal 9px/15px Roboto;
    letter-spacing: 0px;
    color: #000000;
}
h2.host-name {
    font: normal normal bold 13px/20px Roboto;
    letter-spacing: 0px;
    color: #CA6144;
    float: right;
}
.content-visitor{
    width: 70%;
    float: left;
    margin-left: 12px;
}

img.chat-visitor {
    width: 30px;
    border-radius: 50%;
    float: left;
}

span.visitor-time {
    font: normal normal normal 8px/15px Roboto;
    letter-spacing: 0px;
    color: #000000;
    float: right;
}
h2.visitor-name {
    font: normal normal bold 13px/20px Roboto;
    letter-spacing: 0px;
    color: #CA6144;
    display: inline;
    
}
.visitor-header{
    display: inline;
}
p.chat-text {
    font: normal normal normal 10px/15px Roboto;
    letter-spacing: 0px;
    color: #19282F;
    
}
.cht-input{
    background: #a8aab12b 0% 0% no-repeat padding-box;
    height: 40px;
    border-radius: 10px;
}

input.typing {
    background: transparent;
    border-radius: 10px;
    height: 40px;
    width: 75%;
    border: 0px solid#a8aab12b;
    padding-left: 15px;
    font-size: 12px;
    color: grey;
    
}
input.typing:focus {
    outline-width: 0;
}

a.submt {
    float: right;
    position: relative;
    bottom: 26px;
    margin-right: 41px;
    text-decoration: none;
    color: #CA6144;
    font-size: 14px;
}


@media all and (max-width: 767px) {
    h1.xy02,h1.xy01, h1.xy03, h1.xy04 {
        font: normal normal bold 50px Roboto;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    p.xy_01,.xy_02,.xy_03,.xy_04 {
        font: normal normal normal 20px Roboto;
    }
}
@media all and (max-width: 550px) {

    h1.xy02,h1.xy01, h1.xy03, h1.xy04 {
        font: normal normal bold 50px Roboto;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    p.xy_01,.xy_02,.xy_03,.xy_04 {
        font: normal normal normal 20px Roboto;
    }
    button._empty {
        width: 90px;
        height: 40px;
        margin-left: 60px;
    }
    ._liveevent a{
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: xx-small;
        height: 40px;
        padding-top: 10px;
        margin-right: 20px;
    }

}
@media (min-width: 740px) {
    
}
