.event_pageview{
    width: 100vw;
    height: 100vh;
    background:#FCF1E7 0% 0% no-repeat padding-box;
    opacity: 1;
    overflow-x: hidden;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


#eventview-wrapper {
    margin-top: 45px;
    
}
.view-header {
    margin-left: 0;
}
h1.view-h1 {
    font: normal normal bold 24px/29px Roboto;
    letter-spacing: 0px;
    color: #393E51;
    opacity: 1;
}
 p.view-desc {
    font: 400 13px/17px Roboto;
    letter-spacing: 0px;
    color: #6A6A6A;
    opacity: 1;
    margin-top: -10;
} 
img.event-img {
    width: 100%;
    height: 276px;
    border-radius: 10px;
}
h4.img-header {
    font: 300 11px/15px Roboto;
    letter-spacing: 0px;
    color: #9F9F9F;
}
p.image-descr-w {
    font: normal normal normal 13px/30px Roboto;
    letter-spacing: 0px;
    color: #393E51;
}
label.link-link {
    font: 100 11px/18px Roboto;
    letter-spacing: 0px;
    color: #9F9F9F;
    width: 100%;
    margin-bottom: 0;
}
a.lnk {
    font: normal normal normal 11px/18px Roboto;
    letter-spacing: 0px;
    color: #393E51;
    line-height: 0px;
    text-decoration: underline;
}
button.view-btn {
    background: #566683 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding: 5px 109px 5px 109px;
    font: normal normal bold 19px/23px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    border: 1px solid;
    
}

._event-countdown {
    margin-top:24px;
    display: flex;
    justify-content: center;
}

h1.eventy02,h1.eventy03, h1.eventy04, h1.eventy05 {
    text-align: center;
    font: normal normal bold 40px/66px Roboto;
    letter-spacing: 0px;
    color:  #F55B31;
    opacity: 1;
    border-left: 1px solid;
    border-left-color: black;
    margin-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
    line-height: normal;
}

p.e-xy_02,.e-xy_03,.e-xy_04,.e-xy_05 {
    font: normal normal normal 9px/15px Roboto;
    letter-spacing: 0px;
    color: #566683;
    opacity: 1;
    text-align: center;
}
.event-owner {
    margin-top: 24px;
    display: -webkit-inline-box;
    justify-content: space-evenly;
    border-top: 1px solid;
    border-top-color: #9f9f9f5b;
    border-bottom: 1px solid;
    border-bottom-color: #9f9f9f5b;
    width: 98%;
    height: 70px;
}
p.event-tt {
    font: 700 10px/11px Roboto;
    letter-spacing: 0px;
    color: #9F9F9F;
    margin-bottom: 0px;
    margin-top: 5px;
}
h1.e-xy01,.e-xy02,.e-xy03 {
    font: normal normal bold 12px/18px Roboto;
    letter-spacing: 0px;
    color: #2C2C2C;
    margin-bottom: 0px;
    line-height: 15px;
}
p.e_xy_01 {
    font: normal normal normal 9px/9px Roboto;
    letter-spacing: 0px;
    color: #2C2C2C;
    line-height: 12px;
}
.owner_live001,.own_live002,.onwer_live003 {
    border-left: 1px solid;
    border-left-color: #9f9f9f5b;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 25px;
}

.event-ticketing {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C9C9C980;
    border-radius: 10px;
    margin-top: 45px;
}
.session-wrapper{
    padding: 15px;
    padding-top: 0px;
}
h2.tt-head {
    font: normal normal bold 15px/23px Roboto;
    letter-spacing: 0px;
    color: #393E51;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 0px;
}
p.tt-p {
    font: normal normal normal 12px/18px Roboto;
    letter-spacing: 0.09px;
    color: #6A6A6A;
    margin-left: 15px;
    margin-bottom: 0px;
}
.sess-1 {
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border-radius: 5px;
    margin-top: 19px;
}
.sess-child {
    width: 65%;
    margin-left: 50px;
    padding-top: 10px;
}
input#first-session {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
p.ses-label {
    font: normal normal bold 12px/23px Roboto;
    letter-spacing: 0px;
    color: #393E51;
    width: 100%;
    margin-bottom: 0px;
}

label.sess-free {
    font: normal normal bold 12px/23px Roboto;
    letter-spacing: 0px;
    color: #393E51;
    float: right;
    position: relative;
    top: -37px;
    right: 7px;
    float: right;
}
span.sess-pan {
    font: normal normal normal 9px/10px Roboto;
    letter-spacing: 0.05px;
    color: #566683;
    position: relative;
    top: -8px;
}
button.sess-btn {
    background: #C9C9C9 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding: 10px 119px;
    margin-left: 16px;
    border: 1px solid #C9C9C9;
    font: normal normal bold 18px/23px Roboto;
    letter-spacing: 0px;
    color: #F2F2F2;
}
.btn-sess {
    margin-top: 48px;
}
.host {
    margin-top: 30px;
}
h3.abt {
    font: normal normal bold 25px/29px Roboto;
    letter-spacing: 0px;
    color: #393E51;
}
.n-name {
    margin-top: 15px;
}
label.abt-name {
    font: normal normal 11px/18px Roboto;
    letter-spacing: 0px;
    color: #9F9F9F;
}
h1.author {
    font: normal normal normal 13px/21px Roboto;
    letter-spacing: 0px;
    color: #393E51;
}
.bio-details {
    margin-top: 15px;
}
label.bio-name {
    font: normal normal normal 11px/18px Roboto;
    letter-spacing: 0px;
    color: #9F9F9F;
    text-transform: uppercase;
}
p.about-bio {
    font: normal normal normal 12px/29px Roboto;
    letter-spacing: 0px;
    color: #393E51;
}
.org {
    margin-top: 15px;
}
label.org-name {
    font: normal normal normal 11px/18px Roboto;
    letter-spacing: 0px;
    color: #9F9F9F;
}
p.org-details {
    font: normal normal normal 13px/21px Roboto;
    letter-spacing: 0px;
    color: #393E51;
}
.upcoming-e {
    margin-top: 30px;
}
h3.coming-event-tt {
    font: normal normal bold 25px/29px Roboto;
    letter-spacing: 0px;
    color: #393E51;
}
img.img-display-e {
    width: 153px;
    height: 120px;
    position: relative;
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;
}
.upcoming-event_display {
    background: #F2F2F2 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 10px;
    display: flex;
    margin-top: 20px;
}
.abt-event{
    padding: 10px;
}
h2.upcoming-tt {
    font: normal normal bold 14px/15px Roboto;
    letter-spacing: 0px;
    color: #CA6144;
    margin-bottom: 0;
}
span.event-author {
    font: normal normal normal 15px/18px Roboto;
    letter-spacing: 0px;
    color: #566683;
}
label.event-date {
    font: normal normal normal 10px/11px Roboto;
    letter-spacing: 0px;
    color: #9FA3A7;
    width: 100%;
    margin-bottom: 0;
}
p.event-dsc {
    font: normal normal normal 10px/8px Roboto;
    letter-spacing: 0px;
    color: #393E51;
    line-height: 15px;
    margin-bottom: 0px;
}
.event-link {
    margin-top: 20px;
}
button.sess-btn:hover {
    background: #CA6144 0% 0% no-repeat padding-box;
}

.event-info-form{
    margin-left: 8%;
}

.view-future-event{
    margin-left: 16%;
}

@media (max-width: 740px) {
    .container{
        padding: 30px;
    }
    .event-info-form{
        margin-left: 1%;
    }
    
    .view-future-event{
        margin-left: 1%;
    }
}