*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
body{
    width: 100vw;
    height: 100vh;
    background: transparent url(./img/background-img.png) 0% 0% no-repeat padding-box;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.logo_box{
    display: flex;
    justify-content: space-around;
   
}
._box {
    position: relative;
    top: 138px;
    right: 81px;
}
.logo{
    width: 400px;
    height: 110px;
    opacity: 1;
    margin-top: 150px;
}
._ending{
	color: #ffffff;
	text-align: left;
	font: Bold 52px/59px Roboto;
	letter-spacing: 0.48px;
	opacity: 1;
	padding-top: 15px;
    padding-left: 18px;
}
._form{
	margin-top: 15%;
    width: 387px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    margin-left: 140px;
    padding: 5px;
    padding-bottom: 15px;
}
._bck{
    font: 100 13px/15px Roboto;
    letter-spacing: 0.08px;
    color: #566683;
    opacity: 1;
    text-decoration: none;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
._sign{
    text-align: center;
    font: Bold 35px/41px Roboto;
    letter-spacing: 0.21px;
    color: #393E51;
    opacity: 1;
    white-space: nowrap;
    margin-top: 32px;
}
._acc{
	text-decoration: underline;
    font: 100 15px/18px Roboto;
    letter-spacing: 0.09px;
    color: #CA6144;
    opacity: 1;
    margin: 105px;
}
._inpt{
	width: 176px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CA6144;
    border-radius: 8px;
    opacity: 1;
    margin-top: 6px;
}
._label{
	display: flex;
	justify-content: space-evenly;
}
._first-box {
    margin-top: 2em;
}
._first{
    margin-left: 15px;
    margin-top: 49px;
    font: 100 15px/18px Roboto;
    letter-spacing: 0.09px;
    color: #CA6144;
    opacity: 1;
}
._last-box {
    margin-top: 2em;
}
._inp{
	width: 176px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CA6144;
    border-radius: 8px;
    opacity: 1;
    margin-top: 6px;
}
._last{
	text-align: left;
	font: 100 15px/18px Roboto;
	letter-spacing: 0.09px;
	color: #CA6144;
	opacity: 1;
}
::placeholder {
  	text-align: left;
	font: 100 15px/18px Roboto;
	letter-spacing: 0.09px;
	color: #393E51;
	opacity: 0.5;
	padding-left: 20px;
}
._email{
	font: 100 15px/18px Roboto;
    letter-spacing: 0.09px;
    color: #CA6144;
    opacity: 1;
    margin-left: 14px;
}
._labell {
    margin-top: 10px;
}
._ema{
	width: 361px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CA6144;
    border-radius: 8px;
    opacity: 1;
    margin-left: 14px;
    margin-top: 4px;
}
._passw{
	text-align: left;
    font: 100 15px/18px Roboto;
    letter-spacing: 0.09px;
    color: #CA6144;
    opacity: 1;
    margin-left: 14px;
}
._pass{
	width: 361px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CA6144;
    border-radius: 8px;
    opacity: 1;
    margin-left: 14px;
    margin-top: 4px;
}
._form-child {
   margin-top: -39px;
   
}
.icon {
     position: relative; 
     top: -36px; 
    width: 24px;
    height: 24px;
    float: right;
    margin-right: 25px;
}
._btn{
    width: 361px;
    height: 47px; 
    border-radius: 8px;
    background-color: #CA6144;
    border-color: #CA6144;
    font: Black 20px/24px Roboto;
    letter-spacing: 0.12px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 14px;
    margin-top: 14px;
}
/*Login page*/
.login_form{
    margin-top: 10%;
    width: 350px;
    height: fit-content;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    margin-left: 140px;
    padding: 15px;
}
.label-container{
    margin-top: 3em;
}
._login-acc {
    text-decoration: underline;
    font: 100 15px/18px Roboto;
    letter-spacing: 0.09px;
    color: #CA6144;
    opacity: 1;
    
}
.login_link {
    display: flex;
    justify-content: space-between;
    margin: 18px;
}
a.logged-in {
    font: 100 13px/15px Roboto;
    letter-spacing: 0.08px;
    color: #CA6144;
    text-decoration: none;
}
a.fgot{
	font: 100 13px/15px Roboto;
	letter-spacing: 0.08px;
	color: #CA6144;
	text-decoration: none;
}
input[type="radio"] {
    color: #CA6144;
}
._icon {
	position: relative; 
	top: -34px; 
    width: 24px;
    height: 24px;
    float: right;
    margin-right: 25px;
}
i.fa.fa-eye-slash {
    color: #CA6144;
}
._body{
    width: 100vw;
    height: 100vh;
    background: #393E51 0% 0% no-repeat padding-box;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;	
    display: flex;
    justify-content: center;
     position: relative;

}
._box-container {	
    width: 1113px;
    height: 596px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.profile_logo{
/*	height: 59px;
	width: 324px;*/
	height: 49px;
}
.img-box{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
 .progress-bar{
  display: flex;
  margin: 40px 0;
  user-select: none;
  justify-content: center;
}

 .progress-bar .step{
  text-align: center;
  width: 19%;
  position: relative;
}
 .progress-bar .step p{
    text-align: center;
    font: bold 10px/11px Roboto;
    letter-spacing: 0px;
    margin: 4px;
    color: #9FA3A7;
}
.progress-bar .step .bullet{
    height: 25px;
    width: 25px;
    border: 2px solid #e9e6c9;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    background: #e9e6c9;
}
.progress-bar .step .bullet-1{
    height: 25px;
    width: 25px;
    border: 2px solid #ca6144;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    background: #ca6144;
}
._span{
    font: 100 12px/14px Roboto;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4px;
}
.progress-bar .step .bullet.active{
  border-color: #d43f8d;
  background: #d43f8d;
}
.progress-bar .step .bullet span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
  display: none;
}
.progress-bar .step .bullet-1:before, 
.progress-bar .step .bullet-1:after {
    position: absolute;
    content: '';
    bottom: 11px;
    right: -188px;
    height: 3px;
    width: 186px;
    background: #e9e6c9;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
    position: absolute;
    content: '';
    bottom: 11px;
    right: -188px;
    height: 3px;
    width: 186px;
    background: #e9e6c9;
}
.progress-bar .step .bullet.active:after{
  background: #d43f8d;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
  display: none;
}
.progress-bar .step p.active{
  color: #d43f8d;
  transition: 0.2s linear;
}
.progress-bar .step .check{
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .check.active{
  display: block;
  color: #fff;
}
._step1{
	text-align: center;
    font: bold 10px/11px Roboto;
    letter-spacing: 0px;
    margin: 4px;
    color: #000 !important;
}
.profile_title {
	margin-top: -34px;
    display: flex;
    justify-content: center;
}
.title-child{
	font: Bold 37px/63px Roboto;
	letter-spacing: 0px;
	color: #2C2C2C;
}
.profile_label {
    margin-left: auto;
    margin-right: auto;
    width: 370px;
}
._title-label {
    text-align: left;
    font: 700 18px/21px Roboto;
    letter-spacing: 0.11px;
    color: #CA6144;
}
._title-box {
    width: 354px;
    height: 50px;
    background: #FFFEF4 0% 0% no-repeat padding-box;
    border: 1px solid #CA6144;
    border-radius: 8px;
    margin-top: 10px;
}
.text_label {
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
}
._text-box{
	width: 354px;
    height: 153px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #9F9F9F;
	border-radius: 8px;
    margin-top: 10px;
}
a._profile_next {
    float: right;
    margin-right: 227px;
    margin-top: 10px;
    border: 2px solid #ca6144;
    padding: 5px 30px;
    text-decoration: none;
    border-radius: 8px;
    background: #ca6144;
    color: #fff;
    font: 100 Roboto;
}
.progress-bar .step .bullet--1{
    height: 25px;
    width: 25px;
    border: 2px solid #ca6144;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    background: #ca6144;
}
.progress-bar .step .bullet--1:before, 
.progress-bar .step .bullet--1:after {
    position: absolute;
    content: '';
    bottom: 11px;
    right: -188px;
    height: 3px;
    width: 186px;
    background: #ca6144;
}
.progress-bar .step .bullet-2{
    height: 25px;
    width: 25px;
    border: 2px solid #ca6144;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    background: #ca6144;
}
.progress-bar .step .bullet-2:before, 
.progress-bar .step .bullet-2:after {
    position: absolute;
    content: '';
    bottom: 11px;
    right: -188px;
    height: 3px;
    width: 186px;
    background: #e9e6c9;
}
.profile_label-1 {
    margin-left: 335px;
    margin-top: 21px;
}
._title-box-1 {
    width: 443px;
    height: 50px;
    background: #FFFEF4 0% 0% no-repeat padding-box;
    border: 1px solid #CA6144;
    border-radius: 8px;
    margin-top: 10px;
}
.business-type{
	text-align: left;
	font: 100 14px/16px Roboto;
	letter-spacing: 0.08px;
	color: #2c2c2c5e;
	line-height: 32px;
}
a._profile_step {
    float: right;
    margin-right: 227px;
    margin-top: 42px;
    border: 2px solid #ca6144;
    padding: 5px 30px;
    text-decoration: none;
    border-radius: 8px;
    background: #ca6144;
    color: #fff;
    font: 100 Roboto;
}
a._profile_step1 {
    float: left;
    margin-left: 227px;
    margin-top: 42px;
    border: 2px solid #ca6144;
    padding: 5px 30px;
    text-decoration: none;
    border-radius: 8px;
    color: #ca6144;
    font: 100 Roboto;
}
._step2 {
    text-align: center;
    font: bold 10px/11px Roboto;
    letter-spacing: 0px;
    margin: 4px;
    color: #000 !important;
}
.progress-bar .step .bullet--2 {
    height: 25px;
    width: 25px;
    border: 2px solid #ca6144;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    background: #ca6144;
}
.progress-bar .step .bullet--2:before, 
.progress-bar .step .bullet--2:after {
    position: absolute;
    content: '';
    bottom: 11px;
    right: -188px;
    height: 3px;
    width: 186px;
    background: #ca6144;
}
.progress-bar .step .bullet-3{
    height: 25px;
    width: 25px;
    border: 2px solid #ca6144;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    background: #ca6144;
}
.progress-bar .step .bullet-3:before, 
.progress-bar .step .bullet-3:after {
    position: absolute;
    content: '';
    bottom: 11px;
    right: -188px;
    height: 3px;
    width: 186px;
    background:#e9e6c9;
}
.title-toggle {
    display: flex;
    justify-content: center;
    margin-top: -16px;
}

 


.linkBox {
    text-align: center;
}

@media (max-width: 800px) {
    .logo{
        width: 150px;
        height: 50px;
        margin-top: 20px;
        margin-left: 36%;
    }
    .login_form{
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
    }

    ._ending{
        font: Bold 28px/35px Roboto;
        letter-spacing: 0.48px;
        text-align: center;
    }

    ._form{
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
    }
}
